@import '../colors';
@import '../variables';

.FormContainer {
  div {
    margin-bottom: 1em;
  }
  input {
    padding: .7em 1em .6em;
    border: 1px solid rgba($dark_blue, 0.2);
    color: $dark_blue;
    font-weight: 600;
  }
  input:focus {
    outline: 1px solid $blue;
  }
  input::-webkit-input-placeholder {
    font-weight: 600;
    font-size: .9em;
    opacity: 0.8;
  }

  .errorInput {
    border: 1px solid $red;
    outline: 1px solid $red;
  }

  .errorExclamation::after {
    content: "!";

    display: inline-block;
    width: 1.51em;
    height: 1.5em;
    border-radius: 50%;

    text-align: center;
    background-color: $red;
    font-weight: 500;
  }

  .errorMessage {
    margin: 0;
    padding-right: .4em;

    color: rgba($red, 0.8);
    font-size: .6em;
    font-style: italic;
    font-weight: 600;
    text-align: end;
  }
}