// Primary:
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

// Accent:
$blue: hsl(248, 32%, 49%);

// Neutral:
$dark_blue: hsl(249, 10%, 26%);
$grayish_blue: hsl(246, 25%, 77%);

// Break Points:
$mobile: 640px;
$tablet: 1007px;
$desktop: 1008px;

/* CSS TEMPLATE
    POSTION
    position
    top
    left
    right
    z-index
    BLOCK STRUCTURE
    margin
    padding
    wight
    height
    border
    DISPLAY
    display
    float
    clear
    overflow
    OTHER
    font-size
    ::-webkit-textfield-decoration-containercolor
    backgound
*/

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.App {
  background-color: $red;
  background-image: url("../images/bg-intro-desktop.png");
  max-width: 1440px;
  margin: auto;
}

@media (max-width: $tablet) {
  .App {
  }
}

@media (max-width: $mobile) {
  .App {
    background-image: url("../images/bg-intro-mobile.png");
    height: 100vh;
  }
}


