@import '../colors';
@import '../variables';

.FormContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  .TryFreePanel {
    width: 100%;
    height: 5em;
    margin-bottom: 1.5em;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0.2em 1.5em 0;
  
    background-color: $blue;
    border-radius: $radius;
    box-shadow: $shadow;
  }
  form {
    padding: 1.3em;
    background-color: $white;
    border-radius: $radius;
    box-shadow: $shadow;
  }
  input, button {
    border-radius: 4px;
    width: 100%;
  }
  input {
    padding: .7em 1em .6em;
    margin-bottom: 1em;
    border: 1px solid rgba($dark_blue, 0.2);
    color: $dark_blue;
    font-weight: 600;
  }
  input:focus {
    outline: 1px solid $blue;
  }
  input::-webkit-input-placeholder {
    font-weight: 600;
    font-size: .9em;
    opacity: 0.8;
  }
  button {
    padding: 1em 0 .9em;
    border: 1px solid darken($green, 5%);
    background-color: $green;
    box-shadow: 0px 3px 1px 0px darken($green, 5%);

    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: .1em;

    transition: box-shadow .3s, transform .2s;
  }
  button:hover, button:focus {
    background-color: lighten($green, 5%);
  }
  button:active {
    box-shadow: 0px 2px 1px 0px darken($green, 5%);
    transform: translateY(3px);
    transition: box-shadow .3s, transform .2s;
  }
}

.TermsServices {
  margin-top: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  line-height: 1.3em;
  p {
    margin: 0;
    color: rgba($grayish_blue, .85);
    text-align: center;
    font-weight: 600;
    font-size: .8em;
    a {
      color: $red;
      font-weight: 700;
      text-decoration: none;
    }
  }
}

@media (min-width: $desktop) {
  .FormContainer {
    // max-width: 620px;
    max-width: 500px;
  }
}

@media (max-width: $mobile) {
  .TryFreePanel{
    padding: 0.6em 1.5em 0;
  }
}